* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --sidebar-width: 240px;
}

body, html {
  background-color: var(--color-bg);
}

@media (min-width: 1560px) {
  :root {
    --sidebar-width: 320px;
  }
}

@media (max-width: 1280px) {
  :root {
    --sidebar-width: min-content;
  }
}

button {
  cursor: pointer;
  outline: none;
}

input, select, textarea {
  outline: none;
}