@import 'tailwindcss';

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/anton.woff') format('woff');
}

@theme {
  --color-bg: #24222C;
  --color-container: rgba(100,100,100,0.1);
  --color-border: #4E4E4E;
  --color-primary: #799DFF;
  --font-anton: "Anton", sans-serif;
  --breakpoint-big: 1560px;
}